body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightcoral;
}

.calc{
    max-inline-size: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0.5px 0.5px 8px #808080;

}

.result{
    font-size: 50px;
    text-align: end;
    background-color: grey;
    color: white;
    padding-right: 10px;
    padding-top: 30px;
    font-weight: bold;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1px;
    background-color: lightgray;
}

.numbers{
    border: 1px transparent;
    padding: 25px;
    font-size: larger;
    font-weight: bolder;
}

.operator{
    border: 1px transparent;
    padding: 25px;
    font-size: larger;
    font-weight: bolder;
    background-color: lightcyan;
}

.enter{
    border: 1px transparent;
    padding: 25px;
    font-size: larger;
    font-weight: bolder;
    background-color: lightpink;
}

.enter {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: span 4;
  }

